{% extends "base.html" %}

{% block content %}
    <h2>Ваш список покупок</h2>

    <div class="actions">
        <button><a href="{{ url_for('find_product_shop') }}" class="button">🔍 Добавить вручную</a></button>
    </div>

    {% if shopping_items %}
        <ul class="shopping-list">
            {% for shopping, product in shopping_items %}
                <li data-product-id="{{ shopping.product_id }}">
                    <div class="product-info">
                        <strong>{{ product.name }}</strong> ({{ product.product_type }})<br>
                        Количество: {{ shopping.count }}
                    </div>
                    <button class="delete-btn">🗑️ Удалить</button>
                    <button class="move-to-fridge-btn">📦 Переместить в холодильник</button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ваш список покупок пуст! Добавьте товары.</p>
    {% endif %}

    <script src="{{ url_for('static', filename='js/shop_list.js') }}"></script>
{% endblock %}
